<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>My Shopping List with AngularJS</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="css/normalize.css" rel="stylesheet" media="screen">
    <link href="css/foundation.min.css" rel="stylesheet" media="screen">
    <link href="css/app-screen.css" rel="stylesheet" media="screen">
    <link href="css/app-print.css" rel="stylesheet" media="print">
    <script src="js/angular.min.js"></script>
    <script src="js/shopping-list.js"></script>
</head>
<body ng-controller="ShoppingListController" >

<div class="row">

    <div class="column">

    	<h1>My Shopping List</h1>


    	<form id="addForm" ng-submit="insert()" >

			<div class="row">

                <div class="column">	
                	
                	<span class="spanLabel" ng-show="!minimumCharactersMet()" >You need at least {{ howManyMoreCharactersNeeded() }} characters more</span>
                	<span class="spanLabel" ng-show="isNumberOfCharactersWithinRange()" >Remaining characters: {{ howManyCharactersRemaining() }}</span>
                	<span class="spanLabel warning" ng-show="anyCharactersOver()" >{{ howManyCharactersOver() }} characters too many</span>

                </div>

            </div>


            <div class="row">

            	<div class="large-8 columns">

            		<input
                        type="text"
                        name="item"
                        ng-model="item"
                        ng-trim="false"
                        placeholder="Item">

            	</div>

            	<div class="large-2 columns">

            		<input
                        type="text"
                        name="qty"
                        ng-model="qty"
                        ng-trim="false"
                        placeholder="Qty/Weight">

            	</div>

            	<div class="large-2 columns">

            		<select
                        name="type"
                        ng-model="type" >

                        <option value="">?</option>

                    </select>

            	</div>

            </div>


            <div class="row">

            	<div class="column">


            		<div class="show-for-medium-up">
				
						<div class="flr">

							<button
	                            type="button"
	                            class="small button primary"
	                            ><i class="fa fa-print"></i> Print List</button>

	                        <button
	                            type="button"
	                            class="small button alert"
	                            ><i class="fa fa-times"></i> Clear Completed</button>

						</div>

						<button
	                        type="submit"
	                        class="small button"
	                        ><i class="fa fa-plus"></i> Add</button>

	                    <button
	                        type="submit"
	                        class="small button secondary"
	                        ><i class="fa fa-ban"></i> Clear Entry</button>

	                </div>


	                <div class="show-for-small-only">

                        <ul class="button-group even-4">

                            <li>
                                <button
                                    type="submit"
                                    class="small button"
                                    ><i class="fa fa-plus"></i></button>
                            </li>
                            <li>
                                <button
                                    type="submit"
                                    class="small button secondary"
                                    ><i class="fa fa-ban"></i></button>
                            </li>
                            <li>
                                <button
                                    type="button"
                                    class="small button primary"
                                    ><i class="fa fa-print"></i></button>
                            </li>
                            <li>
                                <button
                                    type="button"
                                    class="small button alert"
                                    ><i class="fa fa-times"></i></button>
                            </li>

                        </ul>

                    </div>

            	</div>

            </div>


    	</form>


    	<form id="items">

    		<div class="row">

    			<div class="small-8 columns itemName">

    				<label for="item-?">

    					<input
                            type="checkbox"
                            name="item-?"
                            id="item-?"
							>

							?

    				</label>

    			</div>

    			<div class="small-2 columns itemQty">
    				?
    			</div>

    			<div class="small-2 columns itemType">
    				?
    			</div>

            </div>

    	</form>


    </div>
</div>

	
</body>
</html>